<!-- <h1 [ngStyle]="{
  'font-size': fontSize + 'px',
  'color': textColor,
}">Sou um H1 !!!!</h1> -->

<!-- <h1 [ngStyle]="stylesObj">Sou um H1 !!!!</h1>

<h1 
  [style.font-size.px]="fontSize"
  [style.color]="textColor"
>Sou um H1 2 !!!!</h1>

<h1 
  [style]="stylesString"
>Sou um H1 3 !!!!</h1>

<button (click)="increaseFontSize()">+A</button>
<button (click)="toggleFontColor()">{{ buttonText }}</button> -->

<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Criar Conta</h2>
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" formControlName="name" placeholder="Digite seu nome">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="Digite seu email">
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message">
        <div *ngIf="email?.errors?.['required']">
          Email é obrigatório.
        </div>
        <div *ngIf="email?.errors?.['email']">
          Por favor, insira um email válido.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" placeholder="Digite sua senha">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirme a senha</label>
      <input type="password" id="confirm-password" formControlName="confirmPassword" placeholder="Confirme sua senha">
      <div *ngIf="loginForm.errors?.['passwordMismatch'] && confirmPassword?.touched" class="error-message">
        As senhas não coincidem.
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Registrar</button>
  </form>
</div>