<!-- <div class="cards-container">
  <app-card></app-card>

  <app-card-roxo></app-card-roxo>

  <app-card-button></app-card-button>
</div>

<input id="meu-imput" value="texto Inicial"/> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input id="meu-input" [value]="inputText" [type]="inputType" [disabled]="isDisabled" />

    <button (click)="enableInput()">Habilitar Edição</button>
    <button (click)="disableInput()">Desabilitar Edição</button>
</body>
</html>